*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}

html,body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family:sans-serif;
}

/* header */
.header_main {
    width: 100%;
    position:fixed;
    z-index:100000;
    flex-direction: column;
}

.header_login {
    height: 50px;
    background-color: #041436;
    text-align: end;
    font-size: 20px;
    padding: 0 60px;
    line-height: 50px;
    border-bottom: 1px solid #041436;
}

.signup {
    float: right;
    color: rgb(173, 173, 173);
}

.line {
    height: 20px;
    width: 3px;
    float: right;
    background-color: rgb(173, 173, 173);
    margin: 17px 10px 0;
}

.login {
    float: right;
    color: rgb(173, 173, 173);
}

.header_login a {
    margin: 0;
}

/* login Success */

.login_menu {
    width: 100%;
    position: absolute;
    text-align: center;
    display: none;
}

.login_menu ul {
    background-color: rgb(17, 17, 17, 0.8);
    width: 200px;
    float: right;
    margin-right: 60px;
    border-radius: 0 0 10px 10px;
}

.login_active {
    display: block;
}

/* login Success==================== */

.header_sub {
    display: flex;
    background-color: black;
    justify-content: space-between;
    border-bottom: 1px solid rgb(60, 60, 60);
    padding: 0 20px 0 50px;
}

.header_title {
    display: flex;
    margin: 0;
    align-items: center;
    padding: 10px 0;
}

.header_title img {
    width: 60px;
    height: 60px;
    margin: 0;
}

.header_title h1 {
    margin: 0 20px;
}

/* nav_menu=================== */
.header_nav {
    margin: 0;
    padding: 10px 0;
    transition: all 2s;
}

.header_nav ul{
    display: flex;
}

.menu_main li {
    width: 140px;
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}

.menu_main a:hover {
    color: #041436;
}



/* header========= */

/* section */
/* pageone */
#fullpage {
    width:100%;
    height:100%;
    position:relative;
}

ul, li{
    margin:0;
    padding:0;
    list-style: none;
}

.quick {
    position:fixed;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    z-index:100000;
}

.quick li {
    width:10px;
    height:10px;
    margin-bottom:10px;
    border-radius:15px;
    border:2px solid #fff;
    cursor:pointer;
}

.quick .on {
    background:#fff;
}

.fullsection.full1{
    height: 100vh;
    background : url(../img/jazzmain.png) no-repeat center;
    background-size: cover;
}

.fullsection {
    width:100%;
    height:100%;
    position:relative;
}

.section_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.section_title {
    width: 600px;
    margin: 100px 90px 0 0;
    text-align: center;
}

#subhead {
    letter-spacing: 10px;
    font-weight: bold;
}

.section_title h2 {
    font-size: 70px;
    padding: 10px 0 30px 0;
    letter-spacing: 20px;
}

.section_title .content {
    font-size: 20px;
    color: rgb(205, 205, 205);
}

/* pagetwo /css/slide.css*/
.fullsection.full2{
    height: 100vh;
    background-color: black;
    background-size: cover;
}

/* pagethree */
.fullsection.full3{
    height: 100vh;
    background: url(../img/twopage.jpg) no-repeat center;
    background-size: cover;
}

.full3_body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_body {
    flex-grow: 1;
}

.full3_title {
    text-align: center;
    font-size: 50px;
}

.full3_content {
    text-align: center;
    width: 300px;
    margin-top: 20px;
}

.full3 .full3_menubody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.full3 .full3_resermenu {
    box-shadow: 5px 5px 10px black;
    width: 280px;
    height: 330px;
    margin: 0 20px 0 0;
    background-color: #041436;
    color: black;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s all;
}

.full3 .full3_resermenu:hover {
    width: 280px;
    height: 340px;
    box-shadow: 10px 10px 15px black;
    background-color: #041436;
    color: white;
    opacity: 1;
}

.resermenu_content {
    padding: 50px 0;
}

.full3 .full3_boardmenu {
    box-shadow: -5px 5px 10px black;
    width: 280px;
    height: 330px;
    margin: 0 0 0 20px;
    background-color: #041436;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    transition: 0.5s all;
}

.full3 .full3_boardmenu:hover {
    width: 280px;
    height: 340px;
    box-shadow: -10px 10px 15px black;
    background-color: #041436;
    color: white;
    opacity: 1;
}

.board_body {
    padding-top: 40px;
}

.full3_board {
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid black;
}

.full3 .full_title{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.full3 h5{
    color: white;
    padding: 10px 0;
}

.full3 small {
    color: white;
}

.full3 span {
    color: white;
}

.full3_board a {
    color: white;
}

/* footer */
.fullsection footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0.8;
}

/* section==== */